@-webkit-keyframes cosmonautStretchMd {
  0% {
    -webkit-transform: translate(0, 0) scale(0.4);
            transform: translate(0, 0) scale(0.4);
    opacity: 0;
  }
  80% {
    opacity: 1;
    -webkit-transform: translate(-200px, 200px) scale(1);
            transform: translate(-200px, 200px) scale(1);
  }
  100% {
    -webkit-transform: translate(-220px, 180px);
            transform: translate(-220px, 180px);
  }
}

@keyframes cosmonautStretchMd {
  0% {
    -webkit-transform: translate(0, 0) scale(0.4);
            transform: translate(0, 0) scale(0.4);
    opacity: 0;
  }
  80% {
    opacity: 1;
    -webkit-transform: translate(-200px, 200px) scale(1);
            transform: translate(-200px, 200px) scale(1);
  }
  100% {
    -webkit-transform: translate(-220px, 180px);
            transform: translate(-220px, 180px);
  }
}

@-webkit-keyframes cosmonautRotateMd {
  from {
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes cosmonautRotateMd {
  from {
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes consmonautRotateLg {}

@keyframes consmonautRotateLg {}@-webkit-keyframes cosmonautStretchLg {
  0% {
    opacity: 0;
    -webkit-transform: translate(30%, -20%) scale(0.4);
            transform: translate(30%, -20%) scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(420px, 200px) scale(1);
            transform: translate(420px, 200px) scale(1);
  }
}@keyframes cosmonautStretchLg {
  0% {
    opacity: 0;
    -webkit-transform: translate(30%, -20%) scale(0.4);
            transform: translate(30%, -20%) scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(420px, 200px) scale(1);
            transform: translate(420px, 200px) scale(1);
  }
}

@-webkit-keyframes cosmonautRotateSm {
  from {
    -webkit-transform: rotate();
            transform: rotate();
  }
  to {
    -webkit-transform: rotate();
            transform: rotate();
  }
}

@keyframes cosmonautRotateSm {
  from {
    -webkit-transform: rotate();
            transform: rotate();
  }
  to {
    -webkit-transform: rotate();
            transform: rotate();
  }
}

@-webkit-keyframes cosmonautStretchSm {
  0% {
    opacity: 0;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(200%, 25%);
            transform: translate(200%, 25%);
  }
}

@keyframes cosmonautStretchSm {
  0% {
    opacity: 0;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(200%, 25%);
            transform: translate(200%, 25%);
  }
}

@-webkit-keyframes cosmonautContentAppearing {
  80% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cosmonautContentAppearing {
  80% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button:focus {
  outline: none;
}

p {
  margin: 0;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1130px;
  }
}

.btn-contact {
  padding: 0 10px;
  color: #097FFD;
  font-size: 14px;
  font-weight: bold;
  background: url("../assets/button_contact_bg.svg");
  height: 53px;
  width: 140px;
  border: 0;
  cursor: pointer;
}

.btn-next-section {
  color: #AAAAAAAA;
  text-transform: uppercase;
  border: 0;
  background: unset;
}

.btn-next-section::after {
  margin-top: 12.5px;
  content: " ";
  display: block;
  margin: 0 auto;
  width: 1px;
  height: 50px;
  background-color: #B9B9B9;
}

.btn-plus-circle {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid #097FFD;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
}

.btn-plus-circle::before {
  position: absolute;
  content: " ";
  display: inline-block;
  width: 11px;
  height: 3px;
  background-color: #097FFD;
}

.btn-plus-circle::after {
  position: absolute;
  content: " ";
  display: inline-block;
  width: 11px;
  height: 3px;
  background-color: #097FFD;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
}

.header {
  padding-top: 30px;
  position: absolute;
  top: 0;
  z-index: 10000;
  width: 100%;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section {
  width: 100vw;
  height: calc(100vh - 130px);
  margin-top: 130px;
}

.map-section {
  position: relative;
  padding: 90px 0;
  z-index: 1;
}

.map-section-content .map-icon {
  display: block;
  background: url("../assets/icon_house.svg") no-repeat top center;
  width: 63px;
  height: 63px;
  margin: 20px auto 0 auto;
}

.map-section-content::before {
  background: url("../assets/map.svg") no-repeat top center/contain;
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 381px;
  height: 235px;
}

.map-section-content .text-wrapper {
  margin: 0 auto;
  margin-top: 70px;
}

.map-section-content .section-title {
  font-size: 52px;
  font-weight: 900;
  line-height: 72px;
  margin-bottom: 10px;
  text-align: center;
}

.map-section-content .section-text {
  font-size: 16px;
  line-height: 28px;
}

.map-section-content .section-text span {
  font-weight: 700;
}

.map-section .btn-next-section {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.rocket-section {
  position: relative;
}

.rocket-section-content {
  position: relative;
}

.rocket-section-content .images-container {
  width: 100%;
  height: 100%;
  max-width: 900px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
}

.rocket-section-content .images-container .img-container {
  position: relative;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  margin: 0 auto;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: ease-in-out .6s background-color;
  transition: ease-in-out .6s background-color;
}

.rocket-section-content .images-container .img-container img {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.rocket-section-content .images-container .img-container .name, .rocket-section-content .images-container .img-container button {
  opacity: 0;
  -webkit-animation-name: cosmonautContentAppearing;
          animation-name: cosmonautContentAppearing;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.rocket-section-content .images-container .img-container .name {
  opacity: 0;
  font-size: 38px;
  font-weight: 700;
}

.rocket-section-content .images-container .img-container .desc {
  position: absolute;
  display: none;
}

.rocket-section-content .images-container .img-container .info {
  color: #097FFD;
  font-size: 15px;
  font-weight: 700;
}

.rocket-section-content .images-container .img-container .text {
  line-height: 23px;
  font-size: 14px;
}

.rocket-section-content .images-container .img-container button {
  z-index: 100;
}

.rocket-section-content .images-container .img-container.opened {
  padding: 50px 30px 20px;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rocket-section-content .images-container .img-container.opened button {
  position: absolute;
  margin-right: 0;
}

.rocket-section-content .images-container .img-container.opened img, .rocket-section-content .images-container .img-container.opened .desc {
  position: unset;
}

.rocket-section-content .images-container .img-container.sm {
  max-width: 250px;
  -webkit-animation-name: cosmonautStretchSm;
          animation-name: cosmonautStretchSm;
}

.rocket-section-content .images-container .img-container.sm img {
  left: calc(50% - 55px);
}

.rocket-section-content .images-container .img-container.sm button {
  margin-left: auto;
  margin-right: 40px;
}

.rocket-section-content .images-container .img-container.md {
  max-width: 272px;
  -webkit-animation-name: cosmonautStretchMd;
          animation-name: cosmonautStretchMd;
}

.rocket-section-content .images-container .img-container.md img {
  -webkit-animation-name: cosmonautRotateMd;
          animation-name: cosmonautRotateMd;
  left: calc(50% - 60px);
}

.rocket-section-content .images-container .img-container.md button {
  margin-left: 25px;
}

.rocket-section-content .images-container .img-container.lg {
  -webkit-animation-name: cosmonautStretchLg;
          animation-name: cosmonautStretchLg;
  max-width: 272px;
}

.rocket-section-content .images-container .img-container.lg img {
  -webkit-transform: rotate(195deg);
          transform: rotate(195deg);
  -webkit-animation-name: cosmonautRotateLg;
          animation-name: cosmonautRotateLg;
  top: calc(50% - 115px);
  left: 5%;
}

.rocket-section-content .images-container .img-container.lg button {
  margin-left: auto;
  margin-right: 25px;
  margin-top: 2px;
}

.rocket-section-content .rocket-img {
  display: block;
  margin: 0 auto;
}

.form-section {
  margin-top: 160px;
}

.form-section .form-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-section .form-section-content .form-item:first-child {
  margin-right: 120px;
}

.form-section .form-section-content .section-title h1 {
  font-size: 120px;
  color: #000;
  margin: 0;
}

.form-section .form-section-content .form {
  border: 0;
  font-size: 16px;
}

.form-section .form-section-content .form .form-placeholder {
  border: 1px solid #000;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 20px 18px 25px;
}

.form-section .form-section-content .form .form-placeholder .form-textarea {
  display: inline-block;
  height: 50%;
}

.form-section .form-section-content .form .form-placeholder .form-textarea textarea {
  height: 100%;
}

.form-section .form-section-content .form .form-placeholder .form-note-button {
  background: url("../assets/btn_hire.svg") center no-repeat;
  background-size: contain;
  width: 145px;
  height: 67px;
  position: relative;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: auto;
}

.form-section .form-section-content .form .form-placeholder .form-note-button::before {
  content: "Submit";
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 700;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

input {
  border: 0;
  padding-bottom: 20px;
  width: 100%;
}

input:focus {
  outline: none;
}

.input-group {
  border-bottom: 1px solid #000;
  margin-bottom: 60px;
  width: 400px;
  font-weight: 400;
}

input::-moz-placeholder {
  color: #000;
}

input::-webkit-input-placeholder {
  color: #000;
}

textarea {
  border: 0;
  width: 100%;
  resize: none;
}

textarea:focus {
  outline: none;
}

textarea::-moz-placeholder {
  color: #000;
}

::-webkit-input-placeholder {
  color: #000;
}

@media (min-width: 425px) {
  .map-section-content::before {
    width: 467px;
    height: 289px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding-top: 50px;
  }
  .map-section-content::before {
    width: 584.5px;
    height: 362px;
  }
  .map-section-content .text-wrapper {
    max-width: 770px;
  }
  .map-section-content .section-title {
    font-size: 120px;
    line-height: 171px;
    margin-top: -20px;
  }
  .map-section-content .section-text {
    max-width: 600px;
  }
}
/*# sourceMappingURL=main.css.map */