$desktop: 1200px;
$laptop:1024px;
$tablet:768px;
$mobile: 425px;
$main: #097FFD;
$light:#AAAAAAAA;
@import "./animation/main";
*,
*::after,
*::before {
    box-sizing: border-box;
}

p {
    margin: 0;
}
.img-responsive{
    max-width: 100%;
    height: auto;
}
.container {
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width:$tablet) {
        max-width: 700px;
    }
    @media screen and (min-width:$laptop) {
        max-width: 900px;
    }
    @media screen and (min-width: $desktop) {
        max-width: 1130px;
    }
}

.btn-contact {
    padding: 0 10px;
    color: $main;
    font-size: 14px;
    font-weight: bold;
    background: url('../assets/button_contact_bg.svg');
    height: 53px;
    width: 140px;
    border: 0;
    cursor: pointer;
}

.btn-next-section {
    color: $light;
    text-transform: uppercase;
    border: 0;
    background: unset;

    &::after {
        margin-top: 12.5px;
        content: " ";
        display: block;
        margin: 0 auto;
        width: 1px;
        height: 50px;
        background-color: #B9B9B9;
    }
}
.btn-plus-circle{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid $main;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    &::before{
        position: absolute;
        content: " ";
        display: inline-block;
      width: 11px;
      height: 3px;
      background-color: $main;   
    }
    &::after{
        position: absolute;
        content: " ";
        display: inline-block;
      width: 11px;
      height: 3px;
      background-color: $main;
      transform: rotate(90deg);   
    }
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}

.header {
    padding-top: 30px;
    position: absolute;
    top: 0;
    z-index: 10000;
    width: 100%;
    &-content {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

//sections styles
.section {
    width: 100vw;
    height: calc(100vh - 130px);
    margin-top: 130px;
}

.map-section {
    position: relative;
    padding: 90px 0;
    //margin-top: 50px;
    z-index: 1;

    &-content {
        .map-icon {
            display: block;
            background: url('../assets/icon_house.svg') no-repeat top center;
            width: 63px;
            height: 63px;
            margin: 20px auto 0 auto;
        }

        &::before {

            background: url('../assets/map.svg') no-repeat top center /contain;
            content: " ";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 381px;
            height: 235px;
        }

        .text-wrapper {
            margin: 0 auto;
            margin-top: 70px;
        }

        .section-title {
            font-size: 52px;
            font-weight: 900;
            line-height: 72px;
            margin-bottom: 10px;
            text-align: center;
        }

        .section-text {
            font-size: 16px;
            line-height: 28px;

            span {
                font-weight: 700;
            }
        }
    }

    .btn-next-section {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
.rocket-section{
    position: relative;
    &-content{
        position: relative;
        .images-container{
            width: 100%;
            height: 100%;
            max-width: 900px;
            display: block;
            margin: 0 auto;
            position: absolute;
            top: 0;
            left: 0;
            .img-container{
                position: relative;
                transform: translate(50%,50%);
                animation-duration: 3s;
                margin: 0 auto;
                //animation-name: cosmonautStretch;
                img{
                    position: absolute;
                }
                .name{
                    display: none;
                    font-size: 38px;
                    font-weight: 700;
                }
                .info{
                    display: none;
                    color: $main;
                    font-size: 15px;
                    font-weight: 700;
                }
                .text{
                    display: none;
                    line-height: 23px;
                    font-size: 14px;
                }
                button{
                    position: absolute;
                    z-index: 10;
                }
            }
            .img-container.md{
                max-width: 272px;
                animation-name: cosmonautStretchMd;
                img{
                    animation-name: cosmonautMdRotate; 
                    transform: rotate(75deg);
                }
                button{
                    left: 10%;
                }
            }
        }
        .rocket-img{
            display: block;
            margin: 0 auto ;
        }
    }
}


.form-section{
    margin-top: 160px;

    .form-section-content{
        display: flex;
        justify-content: center;
        
        
        .form-item:first-child{
            margin-right: 120px;
            
        }
    
        .section-title{
            h1{
                font-size: 120px;
                color: #000;
                margin: 0;
            }
        }
    
        .form{
            border: 0;
            font-size: 16px;
    
            .form-placeholder{
                border: 1px solid #000;
                height: 200px;
                
                display: flex;
                flex-direction: column;
                padding: 25px 20px 18px 25px;
                .form-textarea{
                    display: inline-block;
                    height: 50%;
                    textarea {
                        height: 100%;
                    }
                }
                .form-note-button{
                    background: url("../assets/btn_hire.svg") center no-repeat;
                    background-size: contain;
                    width: 145px;
                    height: 67px;
                    position: relative;
                    cursor: pointer;
                    align-self: flex-end;
                    margin-top: auto;
                    
                    
                }
    
                .form-note-button::before{
                    content: "Submit";
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-weight: 700;
                    font-size: 14px;
                    transform: translate(-50%, -50%);
                }
            }
            
        }
    }
}


input{
    border: 0;
    padding-bottom: 20px;
    width: 100%;
}

input:focus{
    outline: none;
}

.input-group{
    border-bottom: 1px solid #000;
    margin-bottom: 60px;
    width: 400px;
    font-weight: 400;
}

input::-moz-placeholder { color: #000; }
input::-webkit-input-placeholder { color: #000; }

textarea{
    border: 0;
    width: 100%;
    resize: none;
}

textarea:focus{
    outline: none;
}

textarea::-moz-placeholder { color: #000; }
::-webkit-input-placeholder { color: #000; }


@media (min-width:$mobile){
    .map-section{
        &-content{
            &::before{
                width: 467px;
                height: 289px;
            }

        }
    }
}
@media (min-width:$desktop) {
    .header {
        padding-top: 50px;

    }

    .map-section {
        &-content {
            &::before {

                width: 584.5px;
                height: 362px;
            }

            .text-wrapper {
                max-width: 770px;
            }

            .section-title {
                font-size: 120px;
                line-height: 171px;
                margin-top: -20px;
            }

            .section-text {
                max-width: 600px;
            }
        }
    }
}
