$desktop: 1200px;
$laptop:1024px;
$tablet:768px;
$mobile: 425px;
$main: #097FFD;
$light:#AAAAAAAA;

*,
*::after,
*::before {
    box-sizing: border-box;
}

p {
    margin: 0;
}
.img-responsive{
    max-width: 100%;
    height: auto;
}
.container {
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width:$tablet) {
        max-width: 700px;
    }
    @media screen and (min-width:$laptop) {
        max-width: 900px;
    }
    @media screen and (min-width: $desktop) {
        max-width: 1130px;
    }
}

.btn-contact {
    padding: 0 10px;
    color: $main;
    font-size: 14px;
    font-weight: bold;
    background: url('../assets/button_contact_bg.svg');
    height: 53px;
    width: 140px;
    border: 0;
    cursor: pointer;
}

.btn-next-section {
    color: $light;
    text-transform: uppercase;
    border: 0;
    background: unset;

    &::after {
        margin-top: 12.5px;
        content: " ";
        display: block;
        margin: 0 auto;
        width: 1px;
        height: 50px;
        background-color: #B9B9B9;
    }
}
.btn-plus-circle{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid $main;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    &::before{
        position: absolute;
        content: " ";
        display: inline-block;
      width: 11px;
      height: 3px;
      background-color: $main;   
    }
    &::after{
        position: absolute;
        content: " ";
        display: inline-block;
      width: 11px;
      height: 3px;
      background-color: $main;
      transform: rotate(90deg);   
    }
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.header {
    padding-top: 30px;
    position: absolute;
    top: 0;
    z-index: 10000;
    width: 100%;
    &-content {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

//sections styles
.section {
    width: 100vw;
    height: calc(100vh - 130px);
    margin-top: 130px;
}

.map-section {
    position: relative;
    padding: 90px 0;
    //margin-top: 50px;
    z-index: 1;

    &-content {
        .map-icon {
            display: block;
            background: url('../assets/icon_house.svg') no-repeat top center;
            width: 63px;
            height: 63px;
            margin: 20px auto 0 auto;
        }

        &::before {

            background: url('../assets/map.svg') no-repeat top center /contain;
            content: " ";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 381px;
            height: 235px;
        }

        .text-wrapper {
            margin: 0 auto;
            margin-top: 70px;
        }

        .section-title {
            font-size: 52px;
            font-weight: 900;
            line-height: 72px;
            margin-bottom: 10px;
            text-align: center;
        }

        .section-text {
            font-size: 16px;
            line-height: 28px;

            span {
                font-weight: 700;
            }
        }
    }

    .btn-next-section {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
.rocket-section{
    position: relative;
    &-content{
        position: relative;
        .images-container{
            width: 100%;
            height: 100%;
            max-width: 900px;
            display: block;
            margin: 0 auto;
            position: absolute;
            top: 0;
            left: 0;
            .img-container{
                position: relative;
                transform: translate(50%,50%);
                img{
                    position: absolute;
                }
                p{
                    font-size: 38px;
                    font-weight: 700;
                }
                button{
                    position: absolute;
                    left: 65%;
                    z-index: 10;
                }
            }
        }
        .rocket-img{
            display: block;
            margin: 0 auto ;
        }
    }
}
@media (min-width:$mobile){
    .map-section{
        &-content{
            &::before{
                width: 467px;
                height: 289px;
            }

        }
    }
}
@media (min-width:$desktop) {
    .header {
        padding-top: 50px;

    }

    .map-section {
        &-content {
            &::before {

                width: 584.5px;
                height: 362px;
            }

            .text-wrapper {
                max-width: 770px;
            }

            .section-title {
                font-size: 120px;
                line-height: 171px;
                margin-top: -20px;
            }

            .section-text {
                max-width: 600px;
            }
        }
    }
}

#web-gl {
    /* make the body fits our viewport */
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1d1e22;
}
  
  #wrap-texture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    display: none;
  }
  
  #canvas {
    /* make the canvas wrapper fits the document */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .plane {
    /* define the size of your plane */
    width: 100%;
    height: 100vh;
    z-index: 100;
  }
  
  .plane img {
    /* hide the img element */
    display: none;
  }
  
  [data-sampler]{
    display: block;
  }


.hero {
    .logo {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 316px;
        margin-left: calc(50vw - 143px);
        margin-top: calc(50vh - 250px);
        img {
            width: 286px;
            height: 250px;
            margin-left: auto;
            margin-right: auto;
        }
        .title {
            text-transform: uppercase;
            font-size: 38px;
            font-weight: 600;
        }
        .subtitle {
            font-size: 38px;
            font-weight: 300;
            margin-top: -10px;
        }
      }
      .btn-next-section {
        position: absolute;
        width: 70px;
        left: calc(50vw - 35px);
        bottom: 0;
      }
  }
  
.main-bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border: 1px solid red;

    img {
        position: relative;
        width: 500%;
        height: 500%;
        top: -225%;
        left: -50%;
    }
}

.slider-block {
    border: 1px solid red;
    height: 400px;
    display: flex;
    align-items: center;
    transition: all ease .5s;
    .img {
        width: 100%;
        height: 100%;
        background: #222;
        transition: all ease .5s;
    }
}

.slick-current {
    .slider-block {
        .img {
            width: 100%;
            height: 50%;
        }
    }
}

.slick-active {
    .slider-block {
        // clip-path: polygon(0% 36%, 6% 37%, 15% 36%, 23% 35%, 31% 33%, 40% 31%, 48% 29%, 56% 25%, 65% 22%, 73% 19%, 82% 14%, 88% 10%, 94% 5%, 100% 1%, 100% 99%, 96% 97%, 92% 92%, 84% 87%, 77% 84%, 68% 81%, 59% 78%, 50% 76%, 42% 74%, 33% 74%, 25% 73%, 16% 71%, 10% 71%, 4% 70%, 0% 70%);
        // .img {
        //     width: 100%;
        // }
    }
}