@-webkit-keyframes cosmonautStretchMd {
  0% {
    -webkit-transform: translate(0, 0) scale(0.4);
            transform: translate(0, 0) scale(0.4);
    opacity: 0;
  }
  65% {
    opacity: 1;
    -webkit-transform: translate(-200px, 130px) scale(1);
            transform: translate(-200px, 130px) scale(1);
  }
  85% {
    -webkit-transform: translate(-200px, 130px) scale(1);
            transform: translate(-200px, 130px) scale(1);
  }
  100% {
    -webkit-transform: translate(-210px, 80px);
            transform: translate(-210px, 80px);
  }
}

@keyframes cosmonautStretchMd {
  0% {
    -webkit-transform: translate(0, 0) scale(0.4);
            transform: translate(0, 0) scale(0.4);
    opacity: 0;
  }
  65% {
    opacity: 1;
    -webkit-transform: translate(-200px, 130px) scale(1);
            transform: translate(-200px, 130px) scale(1);
  }
  85% {
    -webkit-transform: translate(-200px, 130px) scale(1);
            transform: translate(-200px, 130px) scale(1);
  }
  100% {
    -webkit-transform: translate(-210px, 80px);
            transform: translate(-210px, 80px);
  }
}

@-webkit-keyframes cosmonautRotateMd {
  0% {
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg);
  }
  65% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  85% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

@keyframes cosmonautRotateMd {
  0% {
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg);
  }
  65% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  85% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

@-webkit-keyframes cosmonautRotateLg {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cosmonautRotateLg {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cosmonautStretchLg {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 0px) scale(0.4);
            transform: translate(0px, 0px) scale(0.4);
  }
  65% {
    opacity: 1;
    -webkit-transform: translate(420px, 140px) scale(1);
            transform: translate(420px, 140px) scale(1);
  }
  85% {
    -webkit-transform: translate(410px, 130px);
            transform: translate(410px, 130px);
  }
  100% {
    -webkit-transform: translate(435px, 120px);
            transform: translate(435px, 120px);
  }
}

@keyframes cosmonautStretchLg {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 0px) scale(0.4);
            transform: translate(0px, 0px) scale(0.4);
  }
  65% {
    opacity: 1;
    -webkit-transform: translate(420px, 140px) scale(1);
            transform: translate(420px, 140px) scale(1);
  }
  85% {
    -webkit-transform: translate(410px, 130px);
            transform: translate(410px, 130px);
  }
  100% {
    -webkit-transform: translate(435px, 120px);
            transform: translate(435px, 120px);
  }
}

@-webkit-keyframes cosmonautRotateSm {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  65% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cosmonautRotateSm {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  65% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cosmonautStretchSm {
  0% {
    opacity: 0;
    -webkit-transform: translate(50%, 0) scale(0.4);
            transform: translate(50%, 0) scale(0.4);
  }
  65% {
    opacity: 1;
    -webkit-transform: translate(450px, 35px) scale(1);
            transform: translate(450px, 35px) scale(1);
  }
  85% {
    -webkit-transform: translate(445px, 35px);
            transform: translate(445px, 35px);
  }
  100% {
    -webkit-transform: translate(465px, 35px);
            transform: translate(465px, 35px);
  }
}

@keyframes cosmonautStretchSm {
  0% {
    opacity: 0;
    -webkit-transform: translate(50%, 0) scale(0.4);
            transform: translate(50%, 0) scale(0.4);
  }
  65% {
    opacity: 1;
    -webkit-transform: translate(450px, 35px) scale(1);
            transform: translate(450px, 35px) scale(1);
  }
  85% {
    -webkit-transform: translate(445px, 35px);
            transform: translate(445px, 35px);
  }
  100% {
    -webkit-transform: translate(465px, 35px);
            transform: translate(465px, 35px);
  }
}

@-webkit-keyframes cosmonautContentAppearing {
  85% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cosmonautContentAppearing {
  85% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=rocket_section.css.map */